<!DOCTYPE html>

<?js
const templates = env.conf.templates;
const logo = templates.logo;
const css = templates.css;
const name = templates.name || package.name || title;

let logoUrl = 'img/vuejs.png';
let width = '40px', height = '40px';
let style = '';
let version = '';
let logoLink = '';

if (logo) {
    logoUrl = logo.url || logoUrl;
    logoLink = logo.link || logoLink;
    width = logo.width;
    height = logo.height;
}

if (package) {
    version = package.version;
}
  style += 'width: ' + width;
  style += '; height: ' + height;
?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VueDoc | <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <link
			id="favicon"
			rel="shortcut icon"
			type="image/png"
			href="img/favicon.png"/>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link id="theme" type="text/css" rel="stylesheet" href="styles/vuex-doc.css">
    <?js if (css) { ?>
        <?js css.forEach(function(style) { ?>
            <link type="text/css" rel="stylesheet" href="<?js= style ?>">
        <?js }) ?>
    <?js } ?>
    <script>
      function turnGrey(){

      }
    </script>
</head>

<body>
<header id="header">
    <div class="logo">
        <?js if (logoLink) { ?>
            <a href="<?js= logoLink?>" target="_blank">
                <img src="<?js= logoUrl?>" style="<?js= style ?>">
            </a>
        <?js } else { ?>
            <img src="<?js= logoUrl?>" style="<?js= style ?>">
        <?js } ?>
        <span style="margin-left: 1em"><a href="index.html"><?js= name ?></a></span>
    </div>
    <?js if (version) { ?>
      <span class="version"><?js= version ?></span>
    <?js } ?>
    <span style="flex: 1"></span>
	<div class="search-container" id="search-container">
        <input type="text" id="search">
        <ul class="empty"></ul>
    </div>
</header>
<div id="vue-view">
  <nav id="nav">
    <?js= this.nav ?>
	<div style="margin-top: 5em"></div>
  </nav>

  <div id="main">

    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>
    <footer>
      Documentation generated by <a href="https://github.com/Delni/vue-x-docs">Vue(x)Docs</a>.
    </footer>
  </div>
</div>



<script> prettyPrint(); </script>
<script src="scripts/jquery.min.js"></script>
<script src="scripts/vuexdocs.js"></script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
