@font-face {
    font-family: 'Dosis';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Dosis-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Source Sans Pro Light';
    font-weight: lighter;
    font-style: normal;
    src: url('../fonts/SourceSansPro-Light.ttf');
}

@font-face {
    font-family: 'Source Sans Pro Italic';
    font-weight: normal;
    font-style: italic;
    src: url('../fonts/SourceSansPro-Italic.ttf');
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/SourceSansPro-Bold.ttf');
}
